/*
Copyright 2018 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
*/

output "cluster_name" {
  description = "Cluster name"
  value       = ""
}

output "type" {
  description = "Cluster type (regional / zonal)"
  value       = "regional"
}

output "location" {
  description = "Cluster location (region if regional cluster, zone if zonal cluster)"
  value       = "${google_container_cluster.cluster.location}"
}

output "region" {
  description = "Cluster region"
  value       = "${var.region}"
}

output "zones" {
  description = "List of zones in which the cluster resides"
  value       = "TODO"
}

output "endpoint" {
  sensitive   = true
  description = "Cluster endpoint"
  value       = "${google_container_cluster.cluster.endpoint}"
}

output "min_master_version" {
  description = "Minimum master kubernetes version"
  value       = "TODO"
}

output "logging_service" {
  description = "Logging service used"
  value       = "TODO"
}

output "monitoring_service" {
  description = "Monitoring service used"
  value       = "TODO"
}

output "master_authorized_networks_config" {
  description = "Networks from which access to master is permitted"
  value       = "TODO"
}

output "master_version" {
  description = "Current master kubernetes version"
  value       = "TODO"
}

output "ca_certificate" {
  sensitive   = true
  description = "Cluster ca certificate (base64 encoded)"
  value       = "TODO"
}

output "network_policy_enabled" {
  description = "Whether network policy enabled"
  value       = "TODO"
}

output "http_load_balancing_enabled" {
  description = "Whether http load balancing enabled"
  value       = "TODO"
}

output "horizontal_pod_autoscaling_enabled" {
  description = "Whether horizontal pod autoscaling enabled"
  value       = "TODO"
}

output "kubernetes_dashboard_enabled" {
  description = "Whether kubernetes dashboard enabled"
  value       = "TODO"
}

output "node_pools_names" {
  description = "List of node pools names"
  value       = "TODO"
}

output "node_pools_versions" {
  description = "List of node pools versions"
  value       = "TODO"
}

output "service_account" {
  description = "The service account to default running nodes as if not overridden in `node_pools`."
  value       = "TODO"
}

output "network_name" {
  value       = "TODO"
  description = "The name of the VPC being created"
}
